<!DOCTYPE html>
<html>
<head>
    <title>KSRTC Bus Finder</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <header class="hero">
        <h1>🚌 KSRTC Priyadarshini Bus Finder</h1>
        <p>Find buses and check scheme eligibility instantly</p>
    </header>

    <div class="search-container">
        <form action="/search" method="POST">
            <label>Select Bus Stop</label>

            <select name="stop" required>
                {% for stop in stops %}
                <option value="{{ stop }}">{{ stop }}</option>
                {% endfor %}
            </select>

            <button type="submit">Search Bus</button>
        </form>
    </div>

    <footer>
        KSRTC Kerala | Priyadarshini Scheme Portal
    </footer>

</body>
</html>